In [2]:
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
df = pd.read_html('/Users/garimajain/Desktop/GPA_SCU.html', flavor='bs4')

In [5]:
df1 = df[0]

In [6]:
df1

,0,1,2,3
0,NaN,Arts and Sciences,School of Business,School of Engineering
1,Academic GPA* (on 4.0 scale),3.45–3.82,3.53–3.86,3.65–3.94
2,SAT CR*,590–670,580–670,600–710
3,SAT Math*,600–690,635–720,680–760
4,ACT*,27–31,28–31,30–33

In [8]:
del df1[1]

In [10]:
del df1[3]

In [11]:
df1

                              0                   2
0                           NaN  School of Business
1  Academic GPA* (on 4.0 scale)           3.53–3.86
2                       SAT CR*             580–670
3                     SAT Math*             635–720
4                          ACT*               28–31

In [14]:
df1.columns = ['Score types','Scores for Leavey school of business']

In [16]:
df2 = df1.drop([0])

In [17]:
df2

                    Score types Scores for Leavey school of business
1  Academic GPA* (on 4.0 scale)                            3.53–3.86
2                       SAT CR*                              580–670
3                     SAT Math*                              635–720
4                          ACT*                                28–31

In [18]:
df2.to_csv('GPA.csv', index=False, encoding='utf-8')